* {
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    font-size: 150%;   
}

#app_heading {
    font-weight: bold;
    color: #505050;
    font-size: larger;
    margin: 2rem;
}

#error_display {
    display: inline-block;
    font-size: 60%;
    color: red;
    padding: 0.2em;
    margin: 0.2em;
    width: 400px;
    height: 50px;
    overflow-wrap: break-word;
}

#wordcount {
    text-align: center;
    margin-top: 1em;
}

#paragraph {
    font-size: 90%;
    padding: 0.2em;
    margin: 0.2em;
    letter-spacing: 0.1em;
    border: 1px solid black;
}

#word {
    font-size: 90%;
    border: 1px solid black;
    padding: 0.2em;
    margin: 0.2em;
    letter-spacing: 0.1em;
    width: 400px;
}

.display {
    font-size: 90%;
    color: white;
    background-color: black;
    padding: 0.2em;
    margin: 0.2em;
    letter-spacing: 0.1em;
    width: 400px;
}

.wwcbutton {
    background-color: green;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 400px;
}

.wwcbutton-inactive {
    background-color: gray;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 400px;
}

.wwcbutton-clear {
    background-color: red;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
    width: 400px;
}